.header-container {
    background-color: #282c34;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.description {
    font-size: 1rem;
    margin-left: 20px;
    font-style: italic;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1rem;
}

.nav-link:hover {
    text-decoration: underline;
}