.header-container {
    width: 100%;
    background-color:rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header-content {
    text-align: center;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8em;
    font-weight: 600;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
}

.description {
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 10px 0 0 0;
    font-style: italic;
    color: #f0f0f0;
}