.hero-container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
}

.hero-container::before,
.hero-container::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100vh;
  background: linear-gradient(180deg, transparent, #00FFFF, transparent);
  z-index: 1;
  opacity: 0.2;
  animation: move-lines 10s linear infinite;
}

.hero-container::after {
  right: 25%;
  animation-delay: 4s;
}

.hero-container::before {
  left: 25%;
  animation-delay: 4s;
}

@keyframes move-lines {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}